<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yulius.warasapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarasApp">
        <activity
            android:name=".ui.auth.verification_data.VerificationDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.result.ResultDiagnoseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.reset_password.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.check_email.CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash_screen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.diagnose.diagnose7.Diagnose7Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose6.Diagnose6Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose5.Diagnose5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose4.Diagnose4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose3.Diagnose3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose2.Diagnose2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.diagnose1.Diagnose1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.articles.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.landing.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register2.RegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.profile.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.change_password.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.contact_us.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.contact_us.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.feedback.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yulius.warasapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>